@using WebPharmacy.Models
@model MedicineModel
@{
    ViewBag.Title = "Details";

}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row" id="default">
                <div class="col-12">
                    <div class="card border-custom">
                        <div class="card-header bg-custom">
                            <h4 class="card-title"><i class="fa fa-clipboard"></i> Medicine Type  Details</h4>
                            <div class="heading-elements">
                                <a href="@Url.Action("Index","Medicine")" class="btn btn-sm btn-success white"><i class="fa fa-list white"></i> Medicine Type List</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold"> Medicine Name</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.MedicineName)
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Generic Name </label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.GenericName)
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Company</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.CompanyName)
                                        </label>
                                    </div>
                                   <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Packaging Type</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.PackagingType)
                                        </label>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Dosage From</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.DosageForm)
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Unit</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.Unit)
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 label-control text-bold">Quantity</label>
                                        <label class="col-md-7 label-control">
                                            :&nbsp;&nbsp; @Html.DisplayFor(model => model.Quantity)
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <a href="javascript:history.back();" class="btn btn-light btn-medium text-white"><i class="fa fa-arrow-circle-left"></i> Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




